<img style="float: left;;" src='Figures/alinco.png' /></a>
    
# <center> <font color= #000047> Actividad 2: librería Pandas.</font>
___

### Utilizando el archivo [titanic.csv], realice lo que se le pide:


**1. Generar un DataFrame con los datos del fichero.**

**2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas.**

In [2]:
# código aquí
import pandas as pd
df=pd.read_csv('Data/titanic.csv')

print(f"Dimensiones:{df.ndim}, Filas:{len(df)}, Columnas:{ len(df.columns)}") 
print("Número de datos:", df.size) 
print("Nombre de columnas:", df.columns.tolist()) 
print("Nombre de filas:", df.index.tolist()) 
print("Tipos de datos de las columnas:\n",df.dtypes)

Dimensiones:2, Filas:891, Columnas:12
Número de datos: 10692
Nombre de columnas: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
Nombre de filas: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]
Tipos de datos de las columnas:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [3]:
print("PRIMERAS 10 filas:")
print(df.head(10))

PRIMERAS 10 filas:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

In [4]:
print("Ultimas 10 filas:")
print(df.tail(10))

Ultimas 10 filas:
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

**3. Mostrar por pantalla los datos del pasajero con identificador 148.**

In [5]:
# código aquí

df[df['PassengerId']==148]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.375,NaN,S

**4. Mostrar por pantalla las filas pares del DataFrame.**

In [6]:
# código aquí
pares = df.iloc[::2]
print("Filas Pares: \n",pares)

Filas Pares:
      PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

**5. Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.**

In [7]:
# código aquí
primeraClase=df[df['Pclass']==1].sort_values(by='Name', ascending=True)

print(primeraClase['Name'])

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

**6. Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.**

In [8]:
# código aquí
total =df['Survived'].count()
vivos = df['Survived'][df['Survived']==1].count()
print(f"Porcentaje de Sobrevivientes={(vivos*100)/total :.2f} %")
no_vivos = df['Survived'][df['Survived']!=1].count()
print(f"Porcentaje de No Sobrevivientes={(no_vivos*100)/total :.2f} %")

Porcentaje de Sobrevivientes=38.38 %
Porcentaje de No Sobrevivientes=61.62 %

**7. Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.**

In [9]:
# código aquí
porcentaje=df.groupby('Pclass')['Survived'].mean()*100
print("Porcentajes de personas sobrevivientes por clase:")
print("=" * 25)
for clase, value in porcentaje.items():
    print(f"Clase {clase}: {value :.2f} sobrevivientes")

Porcentajes de personas sobrevivientes por clase:
=========================
Clase 1: 62.96 sobrevivientes
Clase 2: 47.28 sobrevivientes
Clase 3: 24.24 sobrevivientes

**8. Eliminar del DataFrame los pasajeros con edad desconocida.**

In [10]:
# código aquí
newDf = df.dropna(subset=['Age'])
print(f"Frame Original:{df.shape}")
print(f"Frame Limpio:{newDf.shape}")

Frame Original:(891, 12)
Frame Limpio:(714, 12)

**9. Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.**

In [11]:
# código aquí
mujeres =newDf[newDf['Sex']=='female']
edades=mujeres.groupby('Pclass')['Age'].mean()
print("Edad media de mujeres por clase:")
print("=" * 25)
for clase, edad in edades.items():
    print(f"Clase {clase}: {edad:.2f} años")

Edad media de mujeres por clase:
=========================
Clase 1: 34.61 años
Clase 2: 28.72 años
Clase 3: 21.75 años

**10.  Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.**

In [12]:
# código aquí
newDf['MenorEdad'] = newDf['Age'] < 18
print(newDf.head(10))

    PassengerId  Survived  Pclass  \
0             1         0       3
1             2         1       1
2             3         1       3
3             4         1       1
4             5         0       3
6             7         0       1
7             8         0       3
8             9         1       3
9            10         1       2
10           11         1       3

                                                 Name     Sex   Age  SibSp  \
0                             Braund, Mr. Owen Harris    male  22.0      1
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
7                      Palsson, Master. Gosta Leonard    male   2.0      3
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                    Sandstrom, Miss. Marguerite Rut  female   4.0      1

    Parch            Ticket     Fare Cabin Embarked  MenorEdad
0       0         A/5 21171   7.2500   NaN        S      False
1       0          PC 17599  71.2833   C85        C      False
2       0  STON/O2. 3101282   7.9250   NaN        S      False
3       0            113803  53.1000  C123        S      False
4       0            373450   8.0500   NaN        S      False
6       0             17463  51.8625   E46        S      False
7       1            349909  21.0750   NaN        S       True
8       2            347742  11.1333   NaN        S      False
9       0            237736  30.0708   NaN        C       True
10      1           PP 9549  16.7000    G6        S       True

C:\Users\x\AppData\Local\Temp\ipykernel_38992\3262759756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf['MenorEdad'] = newDf['Age'] < 18

**11.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.**

In [40]:
# código aquí
class Sobrevivientes:
    def __init__(self, parClase):
        self.clase = parClase
        self.menor = 0
        self.mayor = 0

    def CalculoGrupo(self, parDF):
        porcentMenor=(parDF.groupby('Pclass')['MenorEdad'].mean()*100)   
        porcentMayor = 100 - porcentMenor

        print(f"-El porcentaje de sobrevivientes de la clase: {self.clase}")
        print(f"-El porcentaje de sobrevivientes mayores de edad es:{porcentMayor.iat[0].round(2) }")
        print(f"-El porcentaje de sobrevivientes menores de edad es:{porcentMenor.iat[0].round(2) }")
        print("=" * 25)


clasesList=sorted(newDf['Pclass'].unique())
dictSobrevivientes = {}
for item in clasesList:
    dictSobrevivientes[item] = Sobrevivientes(item)
    print(f"El porcentaje de sobrevivientes por cada clase")
    print("=" * 25)
    dictSobrevivientes[item].CalculoGrupo(newDf[(newDf['Survived'] == 1) & (newDf['Pclass'] == item)])

El porcentaje de sobrevivientes por cada clase
=========================
-El porcentaje de sobrevivientes de la clase: 1
-El porcentaje de sobrevivientes mayores de edad es:90.98
-El porcentaje de sobrevivientes menores de edad es:9.02
=========================
El porcentaje de sobrevivientes por cada clase
=========================
-El porcentaje de sobrevivientes de la clase: 2
-El porcentaje de sobrevivientes mayores de edad es:74.7
-El porcentaje de sobrevivientes menores de edad es:25.3
=========================
El porcentaje de sobrevivientes por cada clase
=========================
-El porcentaje de sobrevivientes de la clase: 3
-El porcentaje de sobrevivientes mayores de edad es:65.88
-El porcentaje de sobrevivientes menores de edad es:34.12
=========================

**11.  Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.**

In [14]:
# código aquí
#Igual al anterior